@model Administrator.Manager.Helpers.ViewModelUser

<div class="alert alert-danger mt-3" role="alert">
    Los registros que tienen * son obligatorios
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_group", @class = "row", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group mt-3">
                    <label for="user_foto">Foto</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @id = "user_foto", @class = "form-control", @placeholder = "Foto del usuario", @maxlength = "30" } })
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group mt-5">
                    <div class='custom-control custom-switch text-right'>
                        @Html.EditorFor(model => model.Status, new { @id = "user_status", @class = "custom-control-input" })
                        <label class='custom-control-label' for='user_status'>Estatus</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="form-group">
                @Html.EditorFor(model => model.Idgroup, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="user_nombre">Nombre</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "user_nombre", @class = "form-control", @placeholder = "Nombre de usuario", @maxlength = "30" } })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="user_apaterno">Apellido paterno</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Lnamep, new { htmlAttributes = new { @id = "user_apaterno", @class = "form-control", @placeholder = "Apellido paterno", @maxlength = "30" } })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="user_amaterno">Apellido materno</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Lnamem, new { htmlAttributes = new { @id = "user_amaterno", @class = "form-control", @placeholder = "Apellido materno", @maxlength = "30" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="user_correo">Correo de usuario</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "user_correo", @class = "form-control", @placeholder = "Correo de usuario", @maxlength = "30" } })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="user_password">Contraseña</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "user_password", @class = "form-control", @placeholder = "Contraseña", @maxlength = "30" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}
