@model Administrator.Manager.Helpers.ViewModelUser

<div class="alert alert-danger mt-3" role="alert">
    Los registros que tienen * son obligatorios
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_group", @class = "row", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Assets/images/default.png" class="card-img-top upload__image-user m-4" alt="default.png">
            </div>

            <div class="col-md-6 mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="user_imagen" name="user_imagen">
                                <label class="custom-file-label" for="user_imagen">Subir archivo</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 mt-3">
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Status, new { @id = "user_estado", @class = "custom-control-input" })
                            <label class='custom-control-label' for='user_estado'>Estado</label>
                        </div> 
                    </div>

                    <div class="col-md-3 mt-3">
                        @Html.DisplayFor(model => model.Idgroup)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-4 text-left">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="user_apaterno">* Apellido paterno</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Lnamep, new { htmlAttributes = new { @id = "user_apaterno", @class = "form-control", @placeholder = "Apellido paterno", @maxlength = "30" } })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="user_amaterno">Apellido materno</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Lnamem, new { htmlAttributes = new { @id = "user_amaterno", @class = "form-control", @placeholder = "Apellido materno", @maxlength = "30" } })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-4 text-left">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="user_nombre">* Nombre</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "user_nombre", @class = "form-control", @placeholder = "Nombre de usuario", @maxlength = "50" } })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="user_correo">* Correo de usuario</label>

                    <div class='input-group'>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "user_correo", @class = "form-control", @placeholder = "Correo de usuario", @maxlength = "80" } })
                    </div>
                </div>
            </div>
        </div>
    </div>

}
