@model Administrator.Manager.Helpers.ViewModelGroup

<div class="alert alert-danger mt-3" role="alert">
    Los registros que tienen * son obligatorios
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_group", @class = "row", autocomplete = "off" }))
{

    <div class='col-12'>
        <div class='form-group mt-3 text-left'>
            <label for="group_name">* Nombre del grupo</label>

            <div class='input-group'>
                <div class='input-group-prepend'>
                    <span class='input-group-text' id='group_label'><i class='fas fa-users'></i></span>
                </div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "group_name", @class = "form-control", @placeholder = "Nombre del grupo", @maxlength = "30" } })
            </div>

            <span id="lable_name" style="display: none; color: red;" class="mt-2">El registro de nombre se encuentra vacio o no cuenta con los caracteres minimos</span>
        </div>

        <div class='form-group mt-5 text-left'>
            <label for="group_description">Descripcion del grupo</label>
            @Html.TextAreaFor(model => model.Description, new { @id = "group_description", @class = "form-control", @rows = "3", @placeholder = "Descripción del grupo" } )
        </div>
    </div>
    <div class='col-md-12 mb-4'>
        <h4 class='h4 text-muted'>Permisos asignados al grupo</h4>
    </div>
    <div class='col-md-4'>
        <div class='card'>
            <div class='text-left mdl-typography--title p-3'>Grupo</div>
            <div class='card-body text-left'>
                <div class='row'>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Creategroup, new { htmlAttributes = new { @id = "create_group", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='create_group'>Crear</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Updategroup, new { htmlAttributes = new { @id = "update_group", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='update_group'>Actualizar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Deletegroup, new { htmlAttributes = new { @id = "delete_group", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='delete_group'>Eliminar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Readgroup, new { htmlAttributes = new { @id = "read_group", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='read_group'>Mostrar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='card'>
            <div class='text-left mdl-typography--title p-3'>Usuario</div>
            <div class='card-body text-left'>
                <div class='row'>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Createuser, new { htmlAttributes = new { @id = "create_user", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='create_user'>Crear</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Updateuser, new { htmlAttributes = new { @id = "update_user", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='update_user'>Actualizar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Deleteuser, new { htmlAttributes = new { @id = "delete_user", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='delete_user'>Eliminar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Readuser, new { htmlAttributes = new { @id = "read_user", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='read_user'>Mostrar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='card text-left'>
            <div class='text-left mdl-typography--title p-3'>Permisos</div>
            <div class='card-body'>
                <div class='row'>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Createpermission, new { htmlAttributes = new { @id = "create_permission", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='create_permission'>Crear</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Updatepermission, new { htmlAttributes = new { @id = "update_permission", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='update_permission'>Actualizar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Deletepermission, new { htmlAttributes = new { @id = "delete_permission", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='delete_permission'>Eliminar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Readpermission, new { htmlAttributes = new { @id = "read_permission", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='read_permission'>Mostrar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-4 mt-3'>
        <div class='card'>
            <div class='text-left mdl-typography--title p-3'>Correo</div>
            <div class='card-body text-left'>
                <div class='row'>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Createemail, new { htmlAttributes = new { @id = "create_email", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='create_email'>Crear</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Updateemail, new { htmlAttributes = new { @id = "update_email", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='update_email'>Actualizar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.EditorFor(model => model.Deleteemail, new { htmlAttributes = new { @id = "delete_email", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='delete_email'>Eliminar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            <input id='read_email' class='custom-control-input' type='checkbox'>
                            @Html.EditorFor(model => model.Reademail, new { htmlAttributes = new { @id = "read_email", @class = "custom-control-input" } })
                            <label class='custom-control-label' for='read_email'>Mostrar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
