
@model Administrator.Manager.Helpers.ViewModelGroup

<div class="alert alert-danger mt-3" role="alert">
    Los registros que tienen * son obligatorios
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_group", @class = "row", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class='col-12'>
        <div class="row">
            <div class="col-sm-9">
                <div class='form-group mt-3 text-left'>
                    <label for="group_name">* Nombre del grupo</label>

                    <div class='input-group mb-2'>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' id='group_label'><i class='fas fa-users'></i></span>
                        </div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "group_name", @class = "form-control", @placeholder = "Nombre del grupo", @maxlength = "30" } })
                    </div>

                    <span id="lable_name" style="display: none; color: red;">El registro de nombre se encuentra vacio o no cuenta con los caracteres minimos</span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class='form-group mt-5'>
                    <div class='custom-control custom-switch text-right'>
                        @Html.CheckBoxFor(model => model.Status, new { @id = "group_status", @class = "custom-control-input ckeck__group" })
                        <label class='custom-control-label' for='group_status'>Estatus</label>
                    </div>
                </div>
            </div>
        </div>

        <div class='form-group mt-5 text-left'>
            <label for="group_description">Descripcion del grupo</label>
            @Html.TextAreaFor(model => model.Description, new { @id = "group_description", @class = "form-control", @rows = "3", @placeholder = "Descripción del grupo" })
        </div>
    </div>
    <div class='col-md-12 mb-4'>
        <h4 class='h4 text-muted'>Permisos asignados al grupo</h4>
    </div>
    <div class='col-md-4'>
        <div class='card'>
            <div class='text-left mdl-typography--title p-3'>Grupo</div>
            <div class='card-body text-left'>
                <div class='row'>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Creategroup, new { @id = "create_group", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='create_group'>Crear</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Updategroup, new { @id = "update_group", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='update_group'>Actualizar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Deletegroup, new { @id = "delete_group", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='delete_group'>Eliminar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Readgroup, new { @id = "read_group", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='read_group'>Mostrar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='card'>
            <div class='text-left mdl-typography--title p-3'>Usuario</div>
            <div class='card-body text-left'>
                <div class='row'>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Createuser, new { @id = "create_user", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='create_user'>Crear</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Updateuser, new { @id = "update_user", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='update_user'>Actualizar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Deleteuser, new { @id = "delete_user", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='delete_user'>Eliminar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Readuser, new { @id = "read_user", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='read_user'>Mostrar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='card text-left'>
            <div class='text-left mdl-typography--title p-3'>Permisos</div>
            <div class='card-body'>
                <div class='row'>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Createpermission, new { @id = "create_permission", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='create_permission'>Crear</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Updatepermission, new { @id = "update_permission", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='update_permission'>Actualizar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Deletepermission, new { @id = "delete_permission", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='delete_permission'>Eliminar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Readpermission, new { @id = "read_permission", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='read_permission'>Mostrar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-4 mt-3'>
        <div class='card'>
            <div class='text-left mdl-typography--title p-3'>Correo</div>
            <div class='card-body text-left'>
                <div class='row'>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Createemail, new { @id = "create_email", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='create_email'>Crear</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Updateemail, new { @id = "update_email", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='update_email'>Actualizar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Deleteemail, new { @id = "delete_email", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='delete_email'>Eliminar</label>
                        </div>
                    </div>
                    <div class='col-md-6 mb-2'>
                        <div class='custom-control custom-switch'>
                            @Html.CheckBoxFor(model => model.Reademail, new { @id = "read_email", @class = "custom-control-input ckeck__group" })
                            <label class='custom-control-label' for='read_email'>Mostrar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}